
/* /* 全局样式 */
body, p, div, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, form, input, select, label, table, tr, td, th, thead, tbody, tfoot
{
    margin: 0px auto;
    padding: 0px;
    border: 0;
}
ul, ol
{
    list-style: none;
}
body
{
    font-size: 12px;
    font-family: Tahoma,Geneva,sans-serif;
    background-position: top;
    background-repeat: repeat-x;
}
table
{
    border-collapse: collapse;
    border-spacing: 0px;
    width: 910px;
    border: 0px;
    text-align: left;
}
a
{
    text-decoration: none;
}
input, select
{
    height: 30px;
    line-height: 27px;
    padding-left: 3px;
}
textarea
{
    font-size: 12px;
    font-family: Tahoma,Geneva,sans-serif;
}
.width50
{
    width: 50px;
}
.width70
{
    width: 70px;
}
.width80
{
    width: 90px;
}
.width100
{
    width: 100px;
}
.width110
{
    width:110px;
}
.width150
{
    width: 150px;
}
.width180
{
    width: 180px;
}
.width200
{
    width: 200px;
}
.width300
{
    width: 300px;
}
.width350
{
    width: 350px;
}
.width400
{
    width: 400px;
}
.width600
{
    width: 600px;
}
.height70
{
    height: 70px;
}
.hide
{
    display: none;
}
.show
{
    display: block;
}

清除浮动
.clearfix
{
    clear: both;
}

浮动对象
.left
{
    float: left;
    display: inline;
}
.right
{
    float: right;
    display: inline;
}
 */

/* 错误页面 */
#error
{
    width: 960px;
    text-align: center;
    margin-top: 400px;
}
#error a:hover
{
    text-decoration: underline;
    cursor: pointer;
}
