.header {
	width: 100%;
	height: 90px;
	border: 1px #00B2EE solid;
	background: url(../../img/home.png);
	background-size: 100%;
}

.container {
	width: 100%;
	height: 60px;
}

.footer {
	width: 100%;
	height: 40px;
	background: #FAFAFA; 
	text-align : center;
	text-align: center;
}

.myFrame {
	width: 100%;
	height: 500px;
	border: 0;
}